<ion-content padding text-center center>
  <ion-list>
    <ion-item lines='none'>
      <ion-input type="email" [(ngModel)]="email" placeholder="Usuário"></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-input type="password" placeholder="Senha" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <ion-text class="btn-recovery">
    Esqueci a senha
  </ion-text>
  <br>
  <ion-button expand="full" shape="round" class="login-button" (click)="login()">Entrar</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand="block" shape="round" class="btn-social facebook">Entrar com Facebook</ion-button></ion-col>
      <ion-col><ion-button expand="block" shape="round" class="btn-social instagram">Entrar com Instagram</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  
  <br><br>
  <ion-label class="btn-recovery">
    Não tem cadastro?<br>Cadastre-se
  </ion-label>
</ion-content>